<form action="/add" method="post">
    <h2>add comp</h2>

    <input type="text" name="producer" id="" placeholder="Producer">
    <input type="text" name="driveSpace" id="" placeholder="Drive Space">
    <input type="text" name="guarantee" id="" placeholder="Guarantee">
    <input type="text" name="amount" id="" placeholder="Amount">

    <button type="submit">Submit</button>
</form>